body {
  background-color: #2a2c2f;
  font-family: Inter, sans-serif;
  font-size: 24px;
  color: #fff;
}

ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}
