.comments__container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1023px) {
  .comments__container {
    grid-gap: 48px;
  }
}
