.photo-grid__item {
  width: 100%;
  grid-column: span 3;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s;
}

.photo-grid__item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .photo-grid__item {
    grid-column: span 4;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__item {
    grid-column: span 6;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    grid-column: span 12;
  }
}
