.header__link {
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s;
}

.header__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 75%;
    line-height: 96.82%;
  }
}
