.video__item {
  height: 323px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/img_video1.png");
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  text-decoration: none;
}

.video__item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/img_video2.png");
}

@media screen and (max-width: 1023px) {
  .video__item {
    padding: 25px;
  }
}

@media screen and (max-width: 767px) {
  .video__item {
    grid-column: span 2;
    height: 200px;
  }
}

@media screen and (max-width: 374px) {
  .video__item {
    padding: 16px;
  }
}
