@import url("__quote/comment__quote.css");
@import url("__quote-content/comment__quote-content.css");
@import url("__author/comment__author.css");

.comment {
  grid-column: span 1;
}

@media screen and (max-width: 1023px) {
  .comment {
    max-width: 70%;
    grid-column: span 3;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .comment {
    max-width: 100%;
  }
}
