.video__title {
  margin-top: 12px;
  font-weight: 900;
  font-size: 150%;
  line-height: 39px;
}

@media screen and (max-width: 1023px) {
  .video__title {
    margin-top: 8px;
    font-size: 100%;
    line-height: 26px;
  }
}
